<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voumel.up.web.mapper.SetMealMapper">
    <select id="findSetMealByPageHelper" parameterType="com.voumel.up.entity.QueryPageBean"
            resultType="com.volume.up.pojo.SetMeal">
        select id,name,code,helpCode,sex,age,price,remark,attention,img,status from t_setmeal
        <where>
            <if test="queryString != null">
                <bind name="c_code" value="'%' + queryString + '%'"/>
                and code like #{c_code}
            </if>
            <if test="queryString != null">
                <bind name="c_name" value="'%' + queryString + '%'"/>
                or name like #{c_name}
            </if>
            <if test="1==1">
                and status = 1
            </if>
        </where>
    </select>
    <select id="findSetMealById" parameterType="java.lang.Integer" resultType="com.volume.up.pojo.SetMeal">
        select id,name,code,helpCode,sex,age,price,remark,attention,img,status from t_setmeal where id=#{id} and status=1
    </select>

    <insert id="addSetMeal" parameterType="com.volume.up.pojo.SetMeal" useGeneratedKeys="true" keyProperty="id">
        insert into t_setmeal(name,code,helpCode,sex,age,price,remark,attention,img,status) values (#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{attention},#{img},#{status})
    </insert>
    <insert id="addCheckGroupToSetMeal">
        insert into t_setmeal_checkgroup(setmael_id,checkgroup_id) values (#{setMealId},#{checkGroupId})
    </insert>

</mapper>